@import "./variables"
html
  box-sizing border-box !important
  font-family PingFangSC-Medium
  color #333
  height 100%
body
  background-color #F5F5F5
  margin 0
  padding 0
  height 100%
ul, li
  list-style none
  margin 0
  padding 0
  box-sizing border-box
i
  font-style normal
  display inline-block
div
  box-sizing border-box
span
  display inline-block
a
  text-decoration none
*
  font-size 0.28rem
textarea
  font-family PingFangSC-Medium
.page-part
  height 0.2rem
  background-color $lineColor
.marginB10
  margin-bottom 0.2rem
input::input-placeholder {
  color: #D5D5D5 !important;
}
p
  margin 0
.mint-field-core
  color #000
.mint-cell-text
  color #4A4A4A
.mint-tabbar > .mint-tab-item.is-selected
  background-color #fff
.c-mt-btn
  margin 0.3rem 0.2rem
  .mint-button
    height 1.2rem !important
    .mint-button-text
      font-size 0.36rem !important
.c-fr
  float right
.c-fl
  float left
.c-icon
  width 24px
  height 24px
  display inline-block
  vertical-align: middle;
  margin-right: 9px;
  margin-top: -3px;
.c-icon-mine
  background url('./../images/home-icon-main.png')
  background-size 100% 100%
.c-icon-award
  background url('./../images/home-icon-awards.png')
  background-size 100% 100%
.c-icon-add
  background url('./../images/indent-add.png')
  background-size 100% 100%
.icon-arrow-up
  background url('./../images/month-nav-icon-packup.png')
  background-size 100% 100%
.icon-arrow-top
  background url('./../images/performance-icon-unwind.png')
  background-size 100% 100%
.icon-arrow-bottom
  background url('./../images/performance-icon-packup.png')
  background-size 100% 100%
.icon-arrow-left
  background url('./../images/page-icon-first.png')
  background-size 100% 100%
.icon-arrow-right
  background url('./../images/page-icon-last.png')
  background-size 100% 100%
.order-tag
  display inline-block
  margin-left 10px
  color #fff
  border-radius 2px
  font-size 10px
  height 17px
  line-height 17px
  text-align center
  padding 1px 6px
  box-sizing border-box
  font-weight 400
.order-tag-single
  background-color #ff894d
.order-tag-double
  background-color #4a90e2
.arrow-right
  width 6px
  height 10px
  background url('./../images/page-icon-last.png')
  background-size 100% 100%
.c-tag-adult
  width 14px
  height 14px
  background url('../images/indent-adult.png')
  background-size 100% 100%
  vertical-align: middle;
  margin-top: -0.04rem;
.c-tag-kid
  width 14px
  height 14px
  background url('../images/indent-children.png')
  background-size 100% 100%
  vertical-align: middle;
  margin-top: -0.04rem;
.c-tag
  width 14px
  height 14px
  vertical-align middle
  margin-top -0.04rem
.c-tag-men
  background url('../images/icon-men.png')
  background-size 100% 100%
.c-tag-women
  background url('../images/icon-women.png')
  background-size 100% 100%

.c-select
  display inline-block
  height 0.4rem
  width 0.4rem
  background-size 100% 100% !important
  vertical-align middle
.c-select-false
  background-image url('../../assets/images/indent-icon-radio-button.png')
.c-select-true
  background-image url('../../assets/images/indent-icon-radio-button-pitch.png')