@import "./variables"
.mint-button
  width 100%
  color #fff
  background-color $mainColor
.mint-navbar
  .mint-tab-item-label
    font-size 0.28rem
.mint-cell-wrapper
  background none
.mint-navbar>.mint-tab-item.is-selected {
  border-bottom-width: 0;
  color: #4f4a60;
}
.mint-msgbox-cancel
  color #999
.mint-tabbar>.mint-tab-item.is-selected {
  color: #4f4a60;
}